{% import 'macro.jinja2' as MRO with context %}
{{ MRO.insert_tab()}}accuracy_value = round(metrics.accuracy_score(y_test, y_pred), 4)
{{ MRO.insert_tab()}}f1_value = round(metrics.f1_score(y_test, y_pred, average='micro',), 4)
{{ MRO.insert_tab()}}fbeta_value = round(metrics.fbeta_score(y_test, y_pred, beta=10, average='micro'), 4)
{{ MRO.insert_tab()}}precision_value = round(metrics.precision_score(y_test, y_pred, average='micro'), 4)
{{ MRO.insert_tab()}}recall_value = round(metrics.recall_score(y_test, y_pred, average='micro'), 4)
{{ MRO.insert_tab()}}log_loss_value = round(metrics.log_loss(y_test, y_score), 4)
{{ MRO.insert_tab()}}metrics_dict = {
{{ MRO.insert_tab()}}    "accuracy": accuracy_value,
{{ MRO.insert_tab()}}    "f1": f1_value,
{{ MRO.insert_tab()}}    "fbeta": fbeta_value,
{{ MRO.insert_tab()}}    "precision": precision_value,
{{ MRO.insert_tab()}}    "recall": recall_value,
{{ MRO.insert_tab()}}    "log_loss": log_loss_value
{{ MRO.insert_tab()}}}
{{ MRO.insert_tab()}}performance = {"metrics": metrics_dict, "confusion_matrix": None, "roc_curve": None}
